.nav {
    color: #000;
    background-color: #fff;
    padding: 20px 40px;
    display: flex;
    gap: 20px;

    img {
        width: 100%;
        max-width: 100px;
        pointer-events: none;
    }

    video{
        pointer-events: none;
    }

    .navList {
        display: flex;
        gap: 40px;
        align-self: center;
        font-family: var(--font-raleway);
        font-weight: 700;
        text-transform: uppercase;
        margin-left: 180px;
        font-size: 18px;
        div {
            cursor: pointer;
        }
    }

    .containerMenu {
        display: inline-flex;
        gap: 40px;
        margin-left: auto;
        align-items: center;

        align-self: center;
        .menubuton {
            font-size: 30px;
        }

        .containerLinks {
            display: inline-flex;
            gap: 40px;
            align-items: center;
        }

        @media (max-width: 1024px) {
            flex-direction: column-reverse;
            align-items: end;
            gap: 0px;

            .menubuton{
                height: 60px;

            }

            .containerLinks {
                display: inline-flex;
                flex-direction: column;
                align-items: end;
                gap: 10px;
                a{
                    &:first-of-type{
                        padding-top: 30px;
                    }
                }
            }
        }
    }
    @media (max-width: 1440px) {
        .navList {
            margin-left: 140px;
        }
    }

    @media (max-width: 1024px) {
        .navList {
            display: none;
        }
    }

    @media (max-width: 768px) {}

    @media (max-width: 425px) {
        padding: 20px 20px;
    }
}

.navlistMobile {
    color: #000;
    background-color: transparent;
    padding: 15px 20px;
    display: none;
    gap: 20px;
    align-items: center;
    font-family: var(--font-raleway);
    font-weight: bold;
    text-transform: uppercase;
    justify-content: space-around;

    div {
        cursor: pointer;
    }

    @media (max-width: 1024px) {
        display: flex;
    }

    @media (max-width: 768px) {}

    @media (max-width: 425px) {}
    @media (max-width: 375px) {
        font-size: 0.8rem;
    }
    @media (max-width: 320px) {
        font-size: 0.7rem;
    }
}

.ContainerFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 80px 20px;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    text-align: center;

    p {
        span {
            display: none;
        }
    }

    .containerRedes {
        display: flex;
        gap: 15px;

        a {
            font-size: 25px;
            padding: 5px;
            border-radius: 50%;
            transition: scale 0.5s cubic-bezier(0.76, 0, 0.24, 1);

            &:hover {
                scale: 1.4;
                transition: scale 0.325s cubic-bezier(0.76, 0, 0.24, 1);

            }
        }
    }

    @media (max-width: 768px) {
        p {
            span {
                display: block;
            }
        }
    }
}

.paddingChildren{
    color: #000;
    padding: 80px 80px;
    min-height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    div{
        flex: 1;
    }
    @media (max-width: 1024px) {
        padding: 40px 40px;
    }

    @media (max-width: 768px) {
        padding: 40px 40px;
    }

    @media (max-width: 425px) {
        padding: 30px 20px;

    }
    @media (max-width: 375px) {
        padding: 30px 20px;
    }
    @media (max-width: 320px) {
    }
}